body{
  background-image: url("../../Img/starrynight.gif");
}
.container {
  
  margin: 50px;
  position: relative;
    /* color: yellowgreen; */
  }
  
  .App {
    align-items: flex-start;
    /* background: white; */
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: calc(20px * 12 + 1px);
    padding: 100px yellow;
    /* width : 50%; */
  }
  
  .App .block {
    /* border-radius:2px; */
    border: 1px solid darkgray;
    box-sizing: border-box;
    font-size: 1em;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 20px;
    padding: 5px stripe;
  
  }


  .td{
    width: 100rem;
  }

  .data-Info{
    /* position: relative; */
    width: 20rem;
    text-align: auto;
    padding: 2rem;
    /* margin: 0 10rem 0 0; */
    color: yellowgreen;
    /* float: right; */
  }
