.container {
    position: relative;
  }
  
  .App {
    align-items: flex-start;
    background: white;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: calc(20px * 12 + 1px);
  }
  
  .App .block {
    /* border-radius:2px; */
    border: 1px solid darkgray;
    box-sizing: border-box;
    font-size: 1em;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 20px;
  }
