body{
  background-image: url("../../Img/starrynight.gif");
  background-repeat: repeat;
}
.container {
  font-family: 'Josefin Sans', sans-serif;
  margin: auto;
  position: relative;
  /* padding : 0 2rem; */
  }
  
  .App {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    /* float: right; */
    width: calc(20px * 12 + 1px);
    /* padding: 100px yellow; */
  }
  
  .App .block {
    border: 1px solid darkgray;
    box-sizing: border-box;
    font-size: 1em;
    height: 20px;
    line-height: 20px;
    /* text-align: center; */
    width: 20px;
    /* padding: 5px stripe; */
  
  }

  /* .td{
    width: 5rem;
    vertical-align: top;
    padding: 0;
  }

  h3 {
    vertical-align: top;
    padding: 0;
  } */
  .game-plate {
    margin: auto;
  }
  .data-Info{
    width: 20rem;
    font-size: 1.5rem;
    /* vertical-align: top; */
    padding: 0 2rem;
    color: yellowgreen;
  }
  .data-instruction {
    width: 20rem;
    font-size: 1.1rem;
    /* vertical-align: top; */
    padding: 0 2rem;
    color: white;
  }

  .button {
    /* width: 30%; */
  }