@import "../../sass/variable.css";

.homeBox {
    margin: 0 auto;
    margin-top: 20vh;
    width: 300px;
    font-family: 'Concert One', cursive;
}

    .homeBox  button {
        font-size: 1.3em;
        font-weight: bold;
    }
