.navbar {
    background: #39374d;
    box-shadow: 0 3px 10px #2c2c2c;
    font-family: 'Josefin Sans', sans-serif;
    text-align : center;
    height: 50px;
    color: #F5F5F5
}

.navbar   a.titleFont {
    font-family: 'Prosto One', cursive;
    color: #F5F5F5;
    width: 200px;
    float: left;
    margin: 1rem;
}

.navbar  a.titleFont:hover {
    color: #F5F5F5;
    font-weight: bold;
}

.navbar a.nav-link {
    font-size: 1.2em;
    width: 20rem;
    float: right;
    margin: 20px 5px;
    color: #F5F5F5;
}

.navbar  .light-text {
    color: #F5F5F5
}


.navbar-brand {
    color: #F5F5F5;
    float: right;
    margin: 1rem;
}