.profilePage {
    margin: 0 auto;
    margin-top: 25px;

}
.profilePage.noUser {
        width: 280px;
        text-align: center;
        margin: 0 auto;
        margin-top: 50px;
}
        
.profilePage.loginBtn {
            margin-top: 25px;
        }
    
        
.profilePage.loginLink {
            color:  #F5F5F5;
        }
    
        
.profilePage.loginLink:hover {
            text-decoration: none;
        }

        
.profilePage#loadingIcon {
            height: 200px;
            width: 200px;
            margin: 0 auto;
          
        }
    

    
 
    .profilePage.profileBox      #userTitle {
            text-align: center
        }
    
